* {
  font-family: "Courier New";
  font-weight: bold;
  color: #00FF00;
}

body {
  background: black;
}

#start-screen {
  text-align: center;
}

#start {
  background-color: black;
  border: 5px solid #00FF00;
  border-radius: 5px;
  font-size: 3em;
  display: block;
  margin: 100px auto;
}

#start:hover {
  cursor: pointer;
  background-color: #00FF00;
  color: black;
}

#start:active,
#start:focus {
  outline: none;
}